/* .todo{
    margin: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo.todo-content{
    flex: 1;
    padding: 0.5rem 1rem;
    border-bottom: 1px dotted #ccc;
}

.todo button{
    padding: 0.5rem;
    margin-right: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: #d8d8d8;
    opacity: 0.5;
} */

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    margin: 0;
    margin-bottom: 12px;
}

.todo-container {
    max-width: 400px;
    width: 100%;
    background-color: #FFE8AD;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#inputField #todoInput {
    width: calc(100% - 60px);
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
}

#inputField #todoInput:focus {
    outline: none;
}

#inputField #addBtn {
    position: relative;
    width: 40px;
    height: 35px;
    border: none;
    background-color: #242423;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}

/* #inputField #addBtn span {
    display: block;
    width: 2px;
    height: 15px;
    background-color: #FFE8AD;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
} */

#inputField #addBtn span:last-child {
    transform: translate(-50%,-50%) rotate(-90deg);
}

#todoList {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: left;
}

#todoList li {
    padding: 10px 0;
    user-select: none;
    width: 250px;
}

#todoList li.complete {
    text-decoration: line-through;
    color: rgb(155, 155, 155);
}

#todoList button {
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#todoList delButton {
    position: relative;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #6b6b6b;
    
    border-radius: 4px;
    cursor: pointer;
    vertical-align: right;
    float: right;
}


#todoList delButton:before, #todoList delButton:after {position: absolute; right: 9px; top:6px; content:''; height: 8px; width:1px; background-color: #222;} 
#todoList delButton:before {transform: rotate(45deg);} 
#todoList delButton:after {transform: rotate(-45deg);}

#todoList li.complete button::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    transform: translate(-2px, -2px) rotate(45deg);
    border-right: 2px solid #f1b116;
    border-bottom: 2px solid #f1b116;
}

.delete-btn-wrap button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #242423;
    color: #fff;
    padding: 8px;
}